.coding-page {
    align-items: center;
    display: flex;
    flex-direction: column;

    .text {
        color: #f5d020;
        background-color: #232526;
        height: 45vh;
        margin: 60px;
        width: 39vw;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}